.title {
  margin-bottom: 2.4rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
}
.counter-value {
  font-size: 3.6rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.4rem;
  font-weight: 700;
}

.btn-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
