.counter-container {
  width: 600px;
  padding: 1.6rem;
  margin: 1.2rem;
  background-color: #ffa500;
  border-radius: 9px;
}
.title {
  margin-bottom: 2.4rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
}
.counter-value {
  font-size: 3.6rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.4rem;
  font-weight: 700;
}

.btn-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.btn,
.btn:link,
.btn:visited {
  border: none;
  background-color: #ffe4c4;
  padding: 0.8rem;
  margin: 0.8rem;
  border-radius: 9px;
  cursor: pointer;
  text-transform: capitalize;
  font-family: inherit;

  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #ffefdc;
}

.btn-outline,
.btn-outline:link,
.btn-outline:visited {
  background-color: #ffa500;

  /* adding border */
  box-shadow: inset 0 0 0 1px #ffefdc;
  padding: 0.8rem;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: #ffefdc;
}
